.App {
    font-family: sans-serif;
  }
  .clock {
    width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin: 5px;
    background: #ccc;
    .digital-clock {
      padding: 10px;
    }
    .analog-clock {
      width: 500px;
      height: 500px;
      border: solid 1px #000;
      border-radius: 50%;
      position: relative;
      background: #fff;
      .dial {
        position: absolute;
        left: 50%;
        right: 50%;
        width: 50%;
        height: 50%;
        transform-origin: bottom left;
        &.seconds {
            border-left:solid 2px green;
            width: 2px;
            height: 200px;
            top: 50px;
        }
        &.minutes {
            border-left:solid 4px #cc0000;
            width: 2px;
            height: 200px;
            top: 50px;
        }
        &.hours {
            border-left:solid 4px #000;
            width: 2px;
            height: 120px;
            top:130px;
        }
      }
    }
  }
  
  
  